* {
    margin:0;
    box-sizing: border-box;
} 

@media screen and (max-width:600px)  {

    .information {
        width:300px;
        font-size:13px;
    }

    .skills {
        margin:2rem;
    }

    .web-dev {
        margin:auto;
        margin-bottom:5rem;
        background-color:#141414;
        height:270px;
        width:200px;
        border-radius:5px;
        font-family:sans-serif;
        filter: drop-shadow(0 0 0.35rem black);
    }

    .web-dev-heading {
        text-align: center;
        font-size:13px;
        margin-bottom:50px;
    }

    .coding {
        margin:7px 7px 2px 7px;
        height:40px;
    }

    .web-dev-heading p {
        color:white;
        margin-top:20px;
        width:150px;
        letter-spacing:1px;
    }

}

@media screen and (min-width:600px)  {

    .about h1 {
        font-size:40px;
    }

    .info-heading {
        font-size:22px;
    }

    .information {
        width:600px;
        font-size:16px;
    }

    .skills {
        margin:5rem 5rem 2rem 5rem;
    }

    .web-dev {
        margin:auto;
        background-color:#141414;
        height:300px;
        width:250px;
        border-radius:5px;
        font-family:sans-serif;
        cursor:pointer;
        filter: drop-shadow(0 0 0.35rem black);
        transition:all 1s;
    }

    .web-dev:hover {
        height:315px;
        width:265px;
        transition:all 1s;
        filter: drop-shadow(0 0 0.55rem black)
    }

    .web-dev-heading p:hover {
        width:200px;
        letter-spacing:1.5px;
        transition:all 2s;
    }

    .web-dev-heading {
        text-align: center;
        font-size:15px;
    }

    .coding {
        margin:10px 20px 10px 20px;
        height:42px;
    }

    .web-dev-heading p {
        color:white;
        margin-top:20px;
        width:180px;
        letter-spacing:1px;
        transition:all 2s;
    }

}

body {
    background: #1E1E1E;
}

.about {
    margin:2rem;
    text-align:center;
}

.about h1 {
    color:whitesmoke;
    font-family:arial;
}

.info {
    text-align:center;
    align-items:center;
    display:flex;
    flex-direction:column;
}

.info-heading {
    color: #45FB8F;
    font-family:sans-serif;
}

.info-heading::before {
    content:'Hi Am ';
    color:whitesmoke;
}

.info-heading::after {
    content:' Frontend web developer';
    color:whitesmoke;
}

.information {
    font-family:Arial;
    color:white;
    margin-top:15px;
}

.web-dev-heading h2 {
    background-image:linear-gradient(50deg,
    #54BDD7 0%,
    #45FB8F 25%,
    #54BDD7 50%,
    #45FB8F 75%,
    #54BDD7 100%);
    color:transparent;
    -webkit-background-clip:text;
}

.web-dev-text {
    display:flex;
    justify-content: center;
    align-items: center;
}

.skills {
    text-align:center;
}

.skills h1 {
    color:whitesmoke;
    font-family:arial;
}

.web-dev:active {
    opacity:0.7;
}